		<footer class="footer">
			<small>
				<a href="#">Monthlygram</a>
				by Rick Rieta
			</small>
			<nav>
				<ul>
					<li><%= link_to "About", '#' %></li>
					<li><%= link_to "Contact", '#' %></li>
					<li><a href="http://instagram.com/">Instagram</a></li>
				</ul>
			</nav>
		</footer>