<div class="cboxOverlay"></div>
<div class="span2">
	<a href="<%= photo.images.standard_resolution.url %>" class="gallery group" title="<%= has_caption(photo) %>">
		<img src=<%= photo.images.thumbnail.url %> class="img-rounded">
		<ul style="list-style:none">
			<li style="margin-left:-25px">
				<i class="icon-heart-empty"></i>

			</li>
		</ul>
<!-- 		<% time = photo.created_time %> -->
<!-- 		<ul style="list-style:none">
			<li style="margin-left:-25px"><strong><%= Time.at(time.to_i) %></strong></li>
		</ul> -->
	</a>
</div>