
	<div class='container' style='text-align:center'>
		<div class='center hero-unit'>
			<p class='welcome-header'>Monthlygram</p></br>
			<h2>Use your Instagram account to log in and organize your photos in monthly fashion.</h2>
			<%= link_to "Log in with Instagram", "/oauth/connect", 
																						class: "btn btn-success btn-large" %>
		</div>
	</div>
